.feature-continue{
    height: 20rem;
    background: rgb(216, 207, 143);
}
.authors-cont{
    display: flex;
    justify-content: space-evenly;
    margin-top: 4rem;
}
.circle-img{
  border-radius: 50%;
  /* border: 7px solid #fff; */
  width: 120px;
  height: 120px;
}
